#root {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageAnimationContainer {
  max-width: 750px;
  width: calc(100% - 16px);
  height: 240px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #aaa;
}

.fluidContainer {
  width: 750px;
  height: 240px;
  position: absolute;
}

.beforeImageContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
}

.afterImageContainer {
  position: absolute;
  z-index: 1;
  right: 0px;
  width: 50%;
  height: 100%;
  border-left: 3px solid #D92228;
  animation: bounce-around 6s infinite;
  transition: width .05s cubic-bezier(.32,-0.12,.36,1.01);
}

@keyframes bounce-around {
  0% { width: 50%; }
  20% { width: 50%; }
  40% { width: 65%; }
  60% { width: 65%; }
  80% { width: 35%; }
  90% { width: 35%; }
  100% { width: 50%; }
}

.beforeImage {
  height: 100%;
  position: absolute;
  left: 0px;
}

.afterImage {
  height: 100%;
  position: absolute;
  right: 0px;
}

.imageShaver {
  position: absolute;
  right: 0px;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.realtorLogo {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 40px;
  background: #D92228;
  top: 50%;
  margin-top: -25px;
  left: -26px;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
